<div class="container" *ngIf="authUserData$ | async as authUser">
    <div class="loading" *ngIf="!loading; else loadingSpinner">
        <div class="header">
            <div class="text">
                <h1>Third F - Faith</h1>
                <p>Opportunities to impact your community</p>
            </div>
        </div>

        <div class="content">
            <div class="section">
                <div class="section-head">
                    <h4>Events</h4>
                    <p>For a list of all events, view F3 Omaha's <a target="_blank" href="https://f3omaha.com/events/category/3rdf/">Third F Calendar</a></p>
                </div>
                <div class="events">
                    <div class="event">
                        <div class="event-image">
                            <img height="75px" width="75px" src="/assets/images/blood-droplet-achievement.png" />
                        </div>
                        <div class="event-details">
                            <h5>February Blood Drive</h5>
                            <p>Sign up for our quarterly blood drive through Nebraska Community Blood Bank. Compete with other PAX for the best blood draw time, win profile achievements.</p>
                            <span style="font-weight: bold;">Sign up coming soon!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner></mat-spinner>
    </div>
</ng-template>