<!-- <div class="container">
    <h1>Create a Challenge</h1>
    <p>Create a new challenge for users to compete in</p>
    <div class="challenge-form">
        <form [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Challenge Name</mat-label>
                <input formControlName="name" autocorrect="off" autocomplete="off" matInput type="text" placeholder="My challenge name">
                <mat-hint>Something unique to make it easy to find</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Challenge Description</mat-label>
                <textarea formControlName="description" autocorrect="off" autocomplete="off" matInput type="text" placeholder="Describe the challenge in detail"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>How many completions?</mat-label>
                <input formControlName="totalCompletionsRequired" autocorrect="off" autocomplete="off" matInput type="number" placeholder="Total number of iterations to complete">
            </mat-form-field>
          </form>
    </div>
    <div class="actions">
        <button mat-raised-button style="background-color: orange;" (click)="submit()">Submit</button>
        <button mat-flat-button (click)="userCancel()">Cancel</button>
    </div>
</div> -->