<div class="container">
    <div class="header">
        <div class="column">
            <h1>Site View</h1>
            <p>F3 Omaha AO Directory</p>        
        </div>
        <div class="align-right">
            <button mat-flat-button id="new-site" *ngIf="isAdmin" [routerLink]="['/admin/add-location']">Add New Site</button>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Name, category, start time" #input>
            </mat-form-field>
        </div>
    </div>

    <div class="site-list">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
                <td mat-cell *matCellDef="let site"> {{site.name}} </td>
            </ng-container>
            <ng-container matColumnDef="weekDay">
                <th mat-header-cell *matHeaderCellDef> Day </th>
                <td mat-cell *matCellDef="let site"> {{site.weekDay}} </td>
            </ng-container>
            <ng-container matColumnDef="startTimes">
                <th mat-header-cell *matHeaderCellDef> Start Time </th>
                <td mat-cell *matCellDef="let site"> {{site.startTimes | commaSeparated }} </td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let site"> {{site.category}} </td>
            </ng-container>
            <ng-container matColumnDef="siteQ">
                <th mat-header-cell *matHeaderCellDef> Site Q(s) </th>
                <td mat-cell *matCellDef="let site">
                    <ng-container *ngFor="let siteQ of site.activeSiteQUsers">
                        <div class="user-chip" [routerLink]="'/users/' + siteQ.id">
                            <div class="current-profile-img" [style.background-image]="'url(' + siteQ.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !siteQ.profilePhotoUrl }"></div>
                            <span>{{siteQ.f3Name}}</span>
                        </div>
                    </ng-container>
                </td>
            </ng-container>
            <ng-container matColumnDef="sector">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sector"> Sector </th>
                <td mat-cell *matCellDef="let site"> {{site.sector}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewSiteDetail(row)"></tr>
          </table>
    </div>
</div>
