.phone-input-container {
  display: flex;
}

.phone-input-element {
  border: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  text-align: center;
}

.phone-input-spacer {
  opacity: 0;
  transition: opacity 200ms;
  color: black;
}

:host.label-floating .phone-input-spacer {
  opacity: 1;
}
