<div role="group" class="phone-input-container"
     [formGroup]="parts"
     [attr.aria-labelledby]="_formField.getLabelId()"
     (focusin)="onFocusIn($event)"
     (focusout)="onFocusOut($event)">
  <input class="phone-input-element"
         formControlName="area" size="3"
         maxLength="3"
         aria-label="Area code"
         autocomplete="tel-area-code"
         (input)="_handleInput(parts.controls.area, exchange)"
         #area>
  <span class="phone-input-spacer">-</span>
  <input class="phone-input-element"
         formControlName="exchange"
         maxLength="3"
         size="3"
         autocomplete="tel-national"
         aria-label="Exchange code"
         (input)="_handleInput(parts.controls.exchange, subscriber)"
         (keyup.backspace)="autoFocusPrev(parts.controls.exchange, area)"
         #exchange>
  <span class="phone-input-spacer">-</span>
  <input class="phone-input-element"
         formControlName="subscriber"
         maxLength="4"
         size="4"
         autocomplete="tel-local"
         aria-label="Subscriber number"
         (input)="_handleInput(parts.controls.subscriber)"
         (keyup.backspace)="autoFocusPrev(parts.controls.subscriber, exchange)"
         #subscriber>
</div>
