<div role="group" class="phone-input-container"
     [formGroup]="parts"
     [attr.aria-labelledby]="_formField.getLabelId()"
     (focusin)="onFocusIn($event)"
     (focusout)="onFocusOut($event)">
  <input class="phone-input-element"
         formControlName="area" 
         pattern="[0-9]*"
         style="width: 40px"
         maxLength="3"
         size="3"
         inputmode="numeric"
         aria-label="Area code"
         (input)="_handleInput(parts.controls.area, exchange)"
         #area>
  <span class="phone-input-spacer">-</span>
  <input class="phone-input-element"
         formControlName="exchange"
         maxLength="3"
         size="3"
         pattern="[0-9]*"
         inputmode="numeric"
         style="width: 40px"
         aria-label="Exchange code"
         (input)="_handleInput(parts.controls.exchange, subscriber)"
         (keydown)="autoFocusPrev($event, parts.controls.exchange, area)"
         #exchange>
  <span class="phone-input-spacer">-</span>
  <input class="phone-input-element"
         formControlName="subscriber"
         style="width: 60px"
         maxLength="4"
         size="4"
         pattern="[0-9]*"
         inputmode="numeric"
         aria-label="Subscriber number"
         (input)="_handleInput(parts.controls.subscriber)"
         (keydown)="autoFocusPrev($event, parts.controls.subscriber, exchange)"
         #subscriber>
</div>
