<div class="container">
    <div class="beatdown-form-container">
        <form class="beatdown-form" [formGroup]="form">
            <mat-form-field appearance="fill" *ngIf="createBeatdown">
                <mat-label>Event name</mat-label>
                <input formControlName="eventName" autocorrect="off" autocomplete="off" matInput type="text" placeholder="Event name">
                <mat-hint>Ex: Respect Popup, F3 Anniversary, CSAUP</mat-hint>
              </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="createBeatdown || showAddressField">
                <mat-label>Event address</mat-label>
                <input formControlName="eventAddress" autocorrect="off" autocomplete="off" matInput type="text" placeholder="Event address">
                <mat-hint>Only enter if not at an AO</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Beatdown Date</mat-label>
                <input formControlName="date" autocomplete="off" matInput [(ngModel)]="beatdown.date" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Start time</mat-label>
              <input formControlName="startTime" [(ngModel)]="beatdown.startTime" autocorrect="off" autocomplete="off" matInput type="text" placeholder="Start time">
              <mat-hint>HH:MM & HH:MM & ...</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>AO Location</mat-label>
                <input #aoLocation formControlName="aoLocation" autocorrect="off" [matAutocomplete]="autoLoc" matInput type="text" placeholder="AO Location">
                <mat-autocomplete requireSelection #autoLoc="matAutocomplete" [displayWith]="displayLocationNameOptions">
                  <mat-option *ngFor="let option of filteredLocationOptions$ | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-hint>Select location from autocomplete</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Primary Q</mat-label>
                <input #primaryQ formControlName="qUser" autocorrect="off" [matAutocomplete]="auto" matInput type="text" placeholder="Primary Q">
                <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayF3NameOptions">
                  <mat-option *ngFor="let option of filteredF3Options$ | async" [value]="option">
                    <div class="option" style="display: flex; flex-direction: column; align-items: flex-start; padding: 8px 4px">
                      <h5 style="margin-bottom: 0; font-size: 16px;">{{option.f3Name}}</h5>
                      <p style="margin-bottom: 0; font-size: 14px">{{option.fullName}}</p>
                    </div>
                  </mat-option>
                </mat-autocomplete>
                <mat-hint>Select from autocomplete</mat-hint>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Co Q</mat-label>
                <input #coQ formControlName="coQUser" autocorrect="off" [matAutocomplete]="auto2" matInput type="text" placeholder="Co-Q">
                <mat-autocomplete requireSelection #auto2="matAutocomplete" [displayWith]="displayF3NameOptions">
                  <mat-option *ngFor="let option of filteredCoQOptions$ | async" [value]="option">
                    <div class="option" style="display: flex; flex-direction: column; align-items: flex-start; padding: 8px 4px">
                      <h5 style="margin-bottom: 0; font-size: 16px;">{{option.f3Name}}</h5>
                      <p style="margin-bottom: 0; font-size: 14px">{{option.fullName}}</p>
                    </div>
                  </mat-option>
                </mat-autocomplete>
                <mat-hint>Optional. Select from autocomplete</mat-hint>
              </mat-form-field>
            <!-- <mat-form-field appearance="outline">
                <mat-label>Additional Qs</mat-label>
                <mat-chip-grid #chipGrid aria-label="Primary selection">
                  <mat-chip-row *ngFor="let siteQ of temporaryActiveSiteQUsers" (removed)="removeActive(siteQ)">
                    {{siteQ.f3Name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + siteQ.f3Name">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="New Active SiteQ..." #activeSiteQInput formControlName="activeSiteQUsers"
                  [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addActiveSiteQ($event)" [displayWith]="displayF3NameOptions">
                    <mat-option *ngFor="let option of filteredActiveSiteQOptions$ | async" [value]="option">
                        <div class="option" style="padding: 4px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;">
                            <h5 style="margin-bottom: 0;">{{option.f3Name}}</h5>
                            <p style="margin-bottom: 0;">{{option.fullName}}</p>
                        </div>
                    </mat-option>
                </mat-autocomplete>
              </mat-form-field> -->
              <mat-form-field appearance="outline">
                <mat-label>Special Event</mat-label>
                <mat-select formControlName="specialEvent" [(ngModel)]="beatdown.specialEvent">
                    <mat-option value="None">None</mat-option>
                    <mat-option value="VQ">VQ</mat-option>
                    <mat-option value="Anniversary">Q Anniversary</mat-option>
                    <mat-option value="Popup">Popup</mat-option>
                    <mat-option value="FlagPass">Flag Pass</mat-option>
                    <mat-option value="KidFriendly">2.0 Friendly</mat-option>
                    <mat-option value="SiteLaunch">Site Launch</mat-option>
                    <mat-option value="CommunityEvent">F3 Community Event</mat-option>
                    <mat-option value="BirthdayQ">Birthday Q</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="checkbox">
                <mat-checkbox formControlName="canceled" [(ngModel)]="beatdown.canceled" (change)="updateCanceledValue($event, beatdown)">Mark beatdown as canceled this week</mat-checkbox>
            </div>
        </form>
        <div class="actions">
            <a mat-raised-button style="background-color: orange; text-decoration: none;" (click)="save()">Save</a>
            <a mat-flat-button style="text-decoration: none;" (click)="userCancel()">Cancel</a>
        </div>
    </div>
</div>