<!-- <div class="container">
    <h1>{{createBeatdown ? 'Create' : 'Edit'}} Beatdown</h1>
    <div class="beatdown-form-container">
        <form class="beatdown-form" [formGroup]="form">
            <mat-form-field appearance="outline">
                <mat-label>Beatdown Date</mat-label>
                <input formControlName="date" autocomplete="off" matInput [(ngModel)]="beatdown.date" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            .
        </form>
    </div>
</div> -->