<div class="container">
  <h1>Claim my data</h1>
  <div class="inner-form search-bar">
    <mat-form-field appearance="fill">
      <mat-label>Search F3 Name</mat-label>
      <input matInput placeholder="Enter F3 Name, First name, or last name" type="text" [(ngModel)]="currentSearchValue" (ngModelChange)="searchValueBehaviorSubject.next($event)">
      <button *ngIf="currentSearchValue" matSuffix mat-icon-button aria-label="Clear" (click)="currentSearchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="results-list">
    <div class="pax" *ngFor="let pax of resultPaxList$ | async">
      <!-- Restrict to unclaimed data only -->
      <ng-container *ngIf="pax.authDataId === undefined">
        <div class="pax-detail">
          <h5>{{pax.f3Name}}</h5>
          <p>{{pax.firstName}}</p>
        </div>
        <div class="actions">
          <button id="claim-data-btn" mat-flat-button (click)="claimDataFromSearch(pax)">Claim Data</button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="logged-in-match" *ngIf="loggedInEmailMatchFound && loggedInMatchedUserData">
    <span >Based on your logged in email...</span>
    <span id="f3Name">{{loggedInMatchedUserData.f3Name}}</span>
    <span id="firstName">{{loggedInMatchedUserData.firstName}}</span>
    <button mat-flat-button id="claim-btn" (click)="claimData(loggedInMatchedUserData)">Claim data</button>
  </div>
</div>
