.container {
    padding: 16px;

    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    h5 {
        margin-top: 12px;
        margin-bottom: 4px;
        font-weight: 700;
    }
    p {
        font-size: 14px;
    }
} 


#claim-btn {
    background-color: #000;
    color: #fff;
    font-weight: bold;
  }