.container {
    padding: 16px 32px;
    h1 {
      margin-bottom: 12px;
      font-size: 32px;
    }
    h5 {
      margin-top: 12px;
      margin-bottom: 4px;
    }

    .edit-field {
      display: flex;
      flex-direction: column;

      .phone-number {
        display: flex;
        flex-direction: row;
      }
    }
    .editData, .saveData {
      display: flex;
      margin: 12px 0;
      background-color: #000;
      color: #fff;
    }
  }
  
  #claim-btn {
    background-color: #000;
    color: #fff;
  }