<div class="container" *ngIf="authUserData$ | async as authUser">
  <div class="pax-data" *ngIf="paxUserData$ | async as user; else noPaxData">
    <user-data-view [user]="user" *ngIf="!editMode"></user-data-view>
    <user-data-edit [user]="user" *ngIf="editMode" (userSaved)="toggleEditMode()" (userCanceled)="toggleEditMode()"></user-data-edit>
    <button mat-flat-button class="editData" (click)="toggleEditMode()" *ngIf="!editMode">Edit Information</button>
</div>
  
<ng-template #noPaxData>
  <p>Thanks for joining F3 Omaha! The next step is to claim your F3 Data.</p>
  <p><b>What does this mean?</b> We want you to own your personal F3 information and manage the information how you choose.</p>
  <p><b>Why claim your data?</b> Claiming your data allows you to edit your contact information, modify notification frequency, and more coming features!</p>
  <p><b>How does it work?</b> We use a combination of your F3 Name and either an email or phone number to find and assign your data.</p>
  <p>Ready to get started?</p>
  <div class="actions">
    <button id="claim-btn" mat-flat-button routerLink="../claim-info">Claim now</button>
  </div>
</ng-template>