.main {

  .profile-image-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 22px;
    .current-profile-img-edit {
      max-width: 100px;
      max-height: 100px;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &::before {
        content: '';
        background-color: #00000070;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
      }
    }
  }

  mat-expansion-panel {
    margin: 12px 0;
  }
    
    h1 {
      margin-bottom: 12px;
      font-size: 24px;
      font-weight: bold;
    }
  
    h5 {
      margin-top: 12px;
      margin-bottom: 4px;
      font-weight: 700;
    }

    #icon {
      height: 32px;
      width: 32px;
      margin-top: 12px;
    }

    .checkbox {
      margin-top: 4px
    }

    .fng-form {
      display: flex;
      flex-direction: column;
      mat-form-field {
        width: 100%;
      }
      mat-form-field:has(mat-hint) {
        margin-bottom: 8px;
      }

      .same-line {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
    }

    .edit-field {
      display: flex;
      flex-direction: column;

      .phone-number {
        display: flex;
        flex-direction: row;
      }
    }

    .actions {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      gap: 12px;

      .saveData {
        display: flex;
        background-color: #000;
        color: #fff;
      }
    }
  }