<div class="container">
    <h1>Forgot Password</h1>
    <div class="send-code" *ngIf="sendCodeStage">
        <p>Enter your account email and we will send you a recovery code.</p>
        <div class="errorState" *ngIf="errorMessage">
          <p>{{errorMessage}}</p>
        </div>
        <div class="successState" *ngIf="submitted">
            <p>Sent recovery instructions to {{email}}</p>
        </div>
        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" (keyup.enter)="sendEmail()" placeholder="forgot@f3omaha.com">
        </mat-form-field>
        <button mat-button id="email" class="solid-button" style="background-color: #000; color: #fff;" (click)="sendEmail()">Submit</button>
    </div>
    <!-- <div class="enter-code" *ngIf="enterCodeStage">
        <p>Enter the code received in your email and your new password.</p>
        <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput type="text" [(ngModel)]="secureCode" placeholder="My Code">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" [(ngModel)]="newPassword" (keyup.enter)="submitPasswordChange()" placeholder="My password">
        </mat-form-field>
        <button mat-button id="email" class="solid-button" style="background-color: #000; color: #fff;" (click)="submitPasswordChange()">Submit</button>
    </div> -->
</div>