:host {
    --square-size: 20px;
    --square-gap: 5px;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }

  li {
    list-style: none;
  }
  
  .months { grid-area: months; }
  .days { grid-area: days; }
  .squares { grid-area: squares; }
  
  .graph {
    display: inline-grid;
    grid-template-areas: "empty months" "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
  }
  
  .months {
    display: grid;
  }

  .mat-mdc-unelevated-button[disabled][disabled] {
    --mdc-filled-button-disabled-container-color: rgb(255 136 14 / 25%);
  }
  
  .days,
  .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
  }
  
  .squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
  }

  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
  }
  
.container {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  border-radius: 5px;
  margin-top: 20px;
  .inner-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
  }
    h2 {
      font-size: 18px;
      font-weight: bold;
    }
}

.recent-activity-container {
  width: 100%;

  .recent-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
  }

  .fill-container {
    height: 150px;
    display: block;
  }

  .recent-activity {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffc18f;
    border-radius: 8px;
    padding: 8px;
    gap: 4px;
    margin: 4px 0;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #pre-activity {
        font-weight: bold;
      }
    }
    
    h2 {
      margin: 2px 0;
      font-weight: bold;
    }
    p {
      margin: 0;
    }
  }
}

  .graph-container {
    padding: 20px;

    .legend-square {
      display: block;
      height: var(--square-size);
      width: var(--square-size);
    }
  }
  
  .days li:nth-child(odd) {
    visibility: hidden;
  }
  
  .squares li {
    background-color: #ebedf0;
  }
  
  #l-1 {
    background-color: #ffc18f;
  }
  
  #l-2, .activity-color {
    background-color: #ffa33a !important;
  }
  
  #l-3 {
    background-color: #b85f00;
  }

  @media only screen and (max-width: 1000px) {
    .inner-data {
      flex-direction: column !important;
    } 
}

.legend {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
  gap: 8px;

  li {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  .inner-data {
    flex-direction: column !important;
  } 
  :host {
    --square-size: 13px;
    --square-gap: 4px;
  }
  .legend {
    padding: 0 !important;
  }
  .days {
    padding: 0 !important;
  }
  .graph-container {
    width: 100% !important;
    overflow: auto !important;
  }
}