<div class="container">
  <h1>Search</h1>
  <p>Find local PAX by F3 name, hospital name or phone number</p>
  <div class="warning" *ngIf="!hasClaimedData">
    <p>Claim your data for the full search experience</p>
  </div>
  <div class="search-bar">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Enter F3 Name, First name, or last name" type="text" [(ngModel)]="currentSearchValue" (ngModelChange)="searchValueBehaviorSubject.next($event)">
      <button *ngIf="currentSearchValue" matSuffix mat-icon-button aria-label="Clear" (click)="currentSearchValue=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="results-list">
    <div class="pax" *ngFor="let pax of resultPaxList$ | async" (click)="routeToPaxPage(pax.objectID)">
      <div class="pax-detail">
        <h5>{{pax.f3Name}}</h5>
        <p>{{pax.firstName}} {{ hasClaimedData ? pax.lastName : ''}}</p>
      </div>
    </div>
  </div>
</div>