<div class="container">
  <h1>Search</h1>
  <p>Find users in the PAX-o-dex</p>
  <div class="search-bar">
    <!--

      I'd imagine most commonly searched by F3 Name, but could possibly search by email / phone / AO
      Might use Algolia here to index the data, could be easier than querying firestore in realtime.

    -->
  </div>
  <div class="results-list">

    <!-- Once we have data here, we should be able to allow email and call functionality just by providing the numbers -->
    <!-- Site-Q's and Admin users will have the ability to update PAX data -->

  </div>
</div>
