<div class="container">
  <h1>Login to PaxNet</h1>
  <p><b>If you've never signed in here before</b>, you'll need to create an account or connect with an authentication provider.</p>
  <div class="center">
    <form [formGroup]="loginForm" class="login-form">
      <div class="error" *ngIf="signInErrorMessage !== ''">{{signInErrorMessage}}</div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" autocomplete="off" matInput type="email" placeholder="pax@example.com" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" autocomplete="off" matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <button class="sign-up-btn" id="submit" (click)="loginUser()">Login</button>
    </form>
    <hr/>
    <p>Need an account? <a routerLink="/register"><b>Sign up with email</b></a></p>
    <p>or</p>
    <button class="sign-up-btn" id="google" (click)="loginWithGoogle()">Continue with Google</button>
  </div>
</div>


