:host {
  font-size: 14px;
  color: #333;
}

.navbar-brand {
  height: 65px;
  width: 190px;
  .logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.nav-drop-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.user-data {
  display: flex;
  flex-direction: row;
  .current-profile-img {
    margin-right: 8px;
    max-width: 24px;
    max-height: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
  }
  
  .defaultBackground {
      background: #aaa;
  }
}

.navbar {
  padding: 8px 8px;
  display: flex;
  align-items: center;
  background-color: #2d364c;
  color: white;
}

.navbar img {
  margin: 0 4px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}
