<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" routerLink="/home">
    <div class="logo" [style.background-image]="'url(../assets/PaxNet-White-1.png)'"></div>
  </a>
  <button #navbarMobileButton class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse align-right" id="navbarCollapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="authenticatedUser">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
      <li class="nav-item" *ngIf="authenticatedUser">
        <a class="nav-link" routerLink="/add-pax">Add FNG</a>
      </li>
      <li class="nav-item" *ngIf="authenticatedUser">
        <a class="nav-link" routerLink="/exicon">Exicon</a>
      </li>
      <li class="nav-item" *ngIf="authenticatedUser">
        <a class="nav-link" routerLink="/challenges">Challenges</a>
      </li>
      <li class="nav-item" *ngIf="authenticatedUser">
        <a class="nav-link" routerLink="/weekly-schedule">Schedule</a>
      </li>
      <li class="nav-item" *ngIf="authenticatedUser">
        <a class="nav-link" routerLink="/site-management">AOs</a>
      </li>
      <li class="nav-item dropdown" *ngIf="authenticatedUser" ngbDropdown>
        <a class="nav-link dropdown-toggle nav-drop-image" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          <span *ngIf="paxUserData$ | async as paxUserData; else basicUser">
            <div class="user-data">
              <div class="current-profile-img" [style.background-image]="'url(' + paxUserData.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !paxUserData.profilePhotoUrl }"></div>
              <span>{{ paxUserData.f3Name }}</span>
            </div>
          </span>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <ng-container *ngIf="paxUserData$ | async as paxUserData; else claimData">
            <a ngbDropdownItem class="dropdown-item" [routerLink]="['/users/', paxUserData.id]">My Profile</a>
            <a ngbDropdownItem class="dropdown-item" [routerLink]="['/settings']">Settings</a>
          </ng-container>
          <div class="admin-data" *ngIf="isAdmin">
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem class="dropdown-item" [routerLink]="['/admin']">Admin Tools</a>
          </div>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" (click)="signOut()">Log Out</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!authenticatedUser">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #claimData>
  <a ngbDropdownItem class="dropdown-item" [routerLink]="['/settings']">Claim My Data</a>
</ng-template>

<ng-template #basicUser>
  <span>User</span>
</ng-template>

<router-outlet></router-outlet>
