.container {
  padding: 16px 32px;

  .editData {
    display: flex;
    margin: 12px 0;
    background-color: #000;
    color: #fff;
  }

  .action-btns {
    margin-top: 12px;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    gap: 12px;

    .admin-only {
      padding: 16px;
      border: 2px solid black;
      border-radius: 15px;

      .action-btn {
        box-shadow: 0 1px 3px #6565656c;
      }

      #siteq-btn {
        color: #000;
        background-color: orange;
      }

      #delete-btn {
        color: #fff;
        background-color: rgb(122, 24, 129);
      }
  
      #delete-btn {
        color: #fff;
        background-color: rgb(138, 30, 30);
      }
    }
  }
}
