<div class="container" *ngIf="userData$ | async as user">

  <user-data-view [user]="user" *ngIf="!editMode"></user-data-view>
  <user-data-edit [user]="user" *ngIf="editMode" (userSaved)="toggleEditMode()" (userCanceled)="toggleEditMode()"></user-data-edit>

  <button mat-flat-button class="editData" (click)="toggleEditMode()" *ngIf="!editMode">Edit Information</button>

  <div class="action-btns">
    <div class="admin-only" *ngIf="isAdmin">
      <p><b>Admin actions</b></p>
      <p class="admin-error" *ngIf="adminErrorMessage !== ''">{{adminErrorMessage}}</p>
      <div class="btns">
        <button *ngIf="!hasExistingRole('SiteQ')" class="action-btn" id="siteq-btn" mat-flat-button (click)="promoteRole('SiteQ', user)">Promote to SiteQ</button>
        <button *ngIf="!hasExistingRole('Admin')" class="action-btn" id="admin-btn" mat-flat-button (click)="promoteRole('Admin', user)">Promote to Admin</button>
        <button class="action-btn" id="delete-btn" mat-flat-button (click)="deleteUser(user)">Permenantly Delete User</button>  
      </div>
    </div>
  </div>

</div>
