<ng-container *ngIf="userData$ | async as user">
  <div class="loading" *ngIf="!loading; else loadingSpinner">
    <div class="container" *ngIf="user; else noUserFound" @profileAnimation>
      <div class="header">
        <div class="profile-buttons">
          <button *ngIf="isPersonalProfile" mat-flat-button routerLink="/settings"><mat-icon>edit</mat-icon> Edit Profile</button>
          <button mat-flat-button (click)="shareProfile(user.id, user.f3Name)"><mat-icon>ios_share</mat-icon> Share</button>
        </div>
        <div class="profile-image-selector" *ngIf="user.profilePhotoUrl">
          <div class="current-profile-img" [style.background-image]="'url(' + user.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !user.profilePhotoUrl }"></div>
        </div>
        <h1>{{user.f3Name}}</h1>
        <p>F3Omaha PAX <b>#{{user.paxNumber}}</b> of {{totalPaxCount}}</p>
        <div class="badges" *ngIf="userProfileData">
          <ng-container *ngIf="userProfileData.badges.length > 0">
            <div class="badge" 
              *ngFor="let badge of userProfileData.badges"
              [style.background]="badge.backgroundColor"
              [style.color]="badge.textColor">{{badge.text}}</div>
          </ng-container>
        </div>
        <div class="social-icons" *ngIf="userProfileData && userProfileData.links !== {}">
          <div class="link" *ngIf="userProfileData.links['strava'] && userProfileData.links['strava'].url !== ''">
            <a [href]="'https://strava.com/athletes/' + userProfileData.links['strava'].url" target="_blank">
              <img id="icon" src="/assets/strava_icon.png"> <span id="link-text">Strava</span>
            </a>
          </div>
          <div class="link" *ngIf="userProfileData.links['x'] && userProfileData.links['x'].url !== ''">
            <a [href]="'https://x.com/' + userProfileData.links['x'].url" target="_blank">
              <img id="icon" src="/assets/x_icon.svg"> <span id="link-text">X</span>
            </a>
          </div>
        </div>
      </div>
      <!-- <activity-graph></activity-graph> -->
      <div class="bordered-container">
        <div class="info-section">
          <h5>Name</h5>
          <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
        <div class="info-section">
          <ng-container *ngIf="userSiteQLocation">
            <h5>Site Q at</h5>
            <p>{{userSiteQLocation.name}}</p>  
          </ng-container>
        </div>
        <div class="info-section">
          <h5>Join Date</h5>
          <p>{{user.joinDate | date: 'MM-dd-YYYY'}}</p>
        </div>
        <div class="info-section dropdown" ngbDropdown *ngIf="userProfileData && userProfileData.ehUsers.length > 0; else plainCountView">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
              <h5 id="eh-count">My EH Tree</h5>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a *ngFor="let user of userProfileData.ehUsers" ngbDropdownItem class="dropdown-item" [routerLink]="['/users/', user.id]">{{user.f3Name}}</a>
          </div>
          <p>{{userProfileData.countOfEHUsers}} people</p>
        </div>
        <div class="info-section">
          <ng-container *ngIf="ehUser && ehUser !== undefined">
            <h5>EH'd by</h5>
            <div class="user-chip" [routerLink]="'/users/' + ehUser.id">
              <div class="current-profile-img" [style.background-image]="'url(' + ehUser.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !ehUser.profilePhotoUrl }"></div>
              <span>{{ehUser.f3Name}}</span>
            </div>
          </ng-container>
        </div>
        <div class="info-section">
          <ng-container *ngIf="userEhLocation">
            <h5>EH'd at</h5>
            <p>{{userEhLocation.name}}</p>  
          </ng-container>
        </div>
        <div class="info-section">
          <ng-container *ngIf="user.phoneNumber && !user.hideContactInformation">
            <h5>Phone</h5>
            <a type="tel" [href]="'tel:' + user.phoneNumber.toDashedForm()">{{user.phoneNumber.toDashedForm()}}</a>
          </ng-container>
        </div>
      </div>

      <mat-expansion-panel *ngIf="user.emergencyContact && !user.hideContactInformation">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Emergency Contact
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contact: {{user.emergencyContact.name}}</p>
        <a type="tel" [href]="'tel:' + user.emergencyContact.phoneNumber?.toDashedForm()">{{user.emergencyContact.phoneNumber?.toDashedForm()}}</a>
    </mat-expansion-panel>
    
      <div class="action-btns">
        <div class="admin-only bordered-container" *ngIf="isAdmin">
          <h5>Admin Actions</h5>
          <div class="btns">
            <button class="action-btn" id="delete-btn" mat-flat-button (click)="viewInAdminCenter(user)">View in Admin Mode</button>  
          </div>
        </div>
      </div>
    </div>  
  </div>
</ng-container>

<ng-template #noUserFound>
  <div class="userNotFound">
    <h1>User not found</h1>
    <p>We either made a mistake, or this user does not exist.</p>
    <button mat-raised-button (click)="goBack()">Go Back</button>
  </div>
</ng-template>

<ng-template #loadingSpinner>
  <div class="fill-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #plainCountView>
  <div class="info-section" *ngIf="userProfileData?.countOfEHUsers">
    <h5 id="eh-count">My EH Count</h5>
    <p>{{userProfileData?.countOfEHUsers}} people</p>
  </div>
</ng-template>
