<div class="container" *ngIf="userData$ | async as user">
  <div class="user-data" *ngIf="isAuthorizedUser">
    <h1>{{user.f3Name}}</h1>
    <h5>Name</h5>
    <p>{{user.firstName}} {{user.lastName}}</p>

    <h5>Joined</h5>
    <p>{{user.joinDate | date: 'MM-dd-YYYY'}}</p>
  
    <h5>Email</h5>
    <a [href]="'mailto:' + user.email">{{user.email}}</a>
  
    <h5>Phone</h5>
    <a [href]="'tel:' + user.phoneNumber">{{user.phoneNumber?.toDashedForm() ?? ''}}</a>

    <h5>Information Privacy</h5>
    <p>{{user.hideContactInformation ? 'Contact info hidden' : 'Other PAX can contact'}}</p>

    <h5>User Status</h5>
    <p>{{user.activeUser ? 'Active F3 Member' : 'Inactive'}}</p>
  
    <div class="action-btns">
      <button *ngIf="isAuthorizedUser && !hasExistingRole('SiteQ')" class="action-btn" id="siteq-btn" mat-flat-button (click)="promoteRole('SiteQ', user)">Promote to SiteQ</button>
      <button *ngIf="isAdmin && !hasExistingRole('Admin')" class="action-btn" id="admin-btn" mat-flat-button (click)="promoteRole('Admin', user)">Promote to Admin</button>
    </div>
  </div>

</div>
