<div class="home-container">
  <div class="primary-content">
    <div class="top-head">
      <img src="/assets/logo.svg" alt="Logo">
      <p>Welcome to F3 Omaha's Internal Pax Network</p>
    </div>
    <div class="content" *ngIf="isLoggedIn; else loggedOut">
      <!-- <div class="attendance-report-required" *ngIf="isAdminOrSiteQ && beatdownsRequiringAttendanceData && beatdownsRequiringAttendanceData.length > 0">
        <h4>Report Beatdown Attendance</h4>
        <button *ngFor="let beatdown of beatdownsRequiringAttendanceData" mat-button class="action-btn" (click)="reportCommunityBeatdownAttendance(beatdown)">
          {{beatdown.date | date: 'fullDate'}} - {{beatdown.eventName ? beatdown.eventName : beatdown.aoLocation?.name }}<mat-icon>important</mat-icon>
        </button>
      </div> -->
      <div class="quick-actions">
        <h4>Quick actions</h4>
        <button *ngIf="!hasClaimedData" mat-button id="claim-data-btn" class="action-btn" [routerLink]="['/settings']">Claim My Data <mat-icon>person</mat-icon></button>
        <button *ngIf="hasClaimedData"mat-button class="action-btn" [routerLink]="['/add-pax']">Add an FNG <mat-icon>add</mat-icon></button>
        <button mat-button class="action-btn" [routerLink]="['/weekly-schedule']"><mat-icon>list</mat-icon>Weekly Q Schedule</button>
        <button mat-button class="action-btn" (click)="reportAttendance()"><mat-icon>directions_run</mat-icon>Log Workout</button>
        <button *ngIf="isAdminOrSiteQ" mat-button class="action-btn q-schedule-btn" [routerLink]="['/admin/q-scheduler']"><mat-icon>alarm</mat-icon> Q-Scheduler</button>
      </div>
    </div>
  </div>
  <div class="side-container" *ngIf="isLoggedIn">
    <div class="new-pax" *ngIf="latestPax && latestPax.length > 0" @fadeInOut>
      <h4>New Pax</h4>
      <div class="recent-pax-list">
        <div class="pax-line" *ngFor="let pax of latestPax" [routerLink]="['/users/' + pax.id]">
          <div class="pax-data">
            <div class="header">
              <div *ngIf="pax.profilePhotoUrl" class="current-profile-img" [style.background-image]="'url(' + pax.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !pax.profilePhotoUrl }"></div>
              <h5>{{pax.f3Name}}</h5>
            </div>
            <p>EH'd at: <b>{{pax.ehLocationName}}</b></p>
            <p>EH'd by: <b>{{pax.ehUserF3Name}}</b></p>
          </div>
          <div class="welcome">
            <p id="welcome-text">WELCOME!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="new-pax" *ngIf="anniversaryPax && anniversaryPax.length > 0" @fadeInOut>
      <h4>Weekly Anniversaries</h4>
      <p>{{anniversaryStartDate | date: "MM/dd"}} - {{anniversaryEndDate | date: "MM/dd"}}</p>
      <div class="recent-pax-list">
        <div class="pax-line" *ngFor="let pax of anniversaryPax" [routerLink]="['/users/' + pax.id]">
          <div class="pax-data">
            <div class="header">
              <div *ngIf="pax.profilePhotoUrl" class="current-profile-img" [style.background-image]="'url(' + pax.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !pax.profilePhotoUrl }"></div>
              <h5>{{pax.f3Name}}</h5>
            </div>
            <p>{{pax.fullName}}</p>
            <p>Joined: {{pax.joinDate | date: 'MM-dd-YYYY'}}</p>
          </div>
          <div class="welcome">
            <p id="welcome-text">{{pax.anniversaryYear}} YEAR</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loggedOut>
  <div class="content">
    <button *ngIf="!isLoggedIn" mat-button id="login-btn" class="action-btn" [routerLink]="['/login']">Log in to continue<mat-icon>lock</mat-icon></button>
  </div>
</ng-template>