.home-container {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  .side-container {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 24px;

    .new-pax {
      margin: 12px 0 32px 0;
      width: 100%;

      h4 {
        font-weight: 800;
        text-align: left;
        text-transform: uppercase;
        font-size: 16px;
      }
      .anniversaryDate {
        font-weight: 800;
        text-align: left;
        text-transform: uppercase;
        font-size: 16px;
        margin: 0;
      }

      .recent-pax-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 14px 0;
        gap: 4px;
      
        .pax-line {
          text-align: left;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 14px;
          background-color: #eee;
      
          h5 {
            font-weight: bold;
          }
          p {
            margin: 0;
          }
        }
      
        #welcome-text {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: bold;
          color: #2d364c;
          padding: 8px;
        }
      }
    }
  }

  .primary-content {
    width: 100%;

    .top-head {
      margin-bottom: 8px;
      h1 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      p {
        font-weight: bold;
        font-size: 18px;
      }
    }
    .content {
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .quick-actions-header {
        font-weight: 800;
        text-align: left;
        text-transform: uppercase;
        font-size: 16px;
      }
  
      .quick-actions {
        margin: 6px 0 24px 0;

        .hasClaimedData, .dataNotClaimed {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          justify-content: center;

          .quick-action {
            padding: 12px 24px;
            color: #fff;
            background-color: #2f2f2f;
            margin: 4px;
            text-wrap: nowrap;
            box-shadow: 0px 1px 4px #ddd;
            cursor: pointer;
            font-weight: bold;

            .icon mat-icon {
              color: orange;
            }
          }
        }

        .action-btn {
          width: 100%;
          background-color: #ffa600;
          color: #000;
          font-weight: 700;
          font-size: 16px;
          margin: 4px;
          padding: 22px 0px;
          max-width: 190px;
        }
        .q-schedule-btn {
          background-color: #7b8ce2;
        }
        #claim-data-btn {
          background-color: #2d364c;
          color: #fff;
        }
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4px;

  h5 {
    margin: 0;
  }

  .current-profile-img {
    margin-right: 8px;
    max-width: 24px;
    max-height: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
  }
  
  .defaultBackground {
      background: #aaa;
  }
}

#login-btn {
  background-color: #2d364c;
  color: #fff;
}

.upcoming-qs {
  width: 100%;
  padding: 8px 0;
  text-align: left;

  h4 {
    font-weight: 800;
    text-align: left;
  }

  li {
    font-size: 16px;
    list-style: circle;
  }
}

.attendance-report-required {
  width: 100%;
  padding: 8px;
  margin: 24px 0;
  
  h4 {
    font-weight: 800;
    text-align: left;
  }
  p {
    text-align: left;
  }

  .report-attendance-buttons {
    text-align: left;

    .report-attendance-btn {
      background-color: #af3131;
      color: #fff !important;
      padding: 24px;
    }
    .alreadyReported {
      p {
        margin: 0;
        padding: 8px 0;
        font-weight: bold;
      }
    }
  }

}

@media only screen and (max-width: 450px) {
  .side-container {
    padding: 24px 0 !important;
  }
  .quick-action {
    width: 100% !important;
  }
}

