<div class="home-container">
  <div class="top-head">
    <h1>Welcome to (TBD)</h1>
    <p>PAX Management and Scheduling tools</p>
  </div>
  <div class="content">
    <h2>Quick start</h2>
    <button mat-button class="action-btn" [routerLink]="['/add-pax']">Add an FNG <mat-icon>add</mat-icon></button>
    <button mat-button class="action-btn" [routerLink]="['/search']">Search PAX <mat-icon>search</mat-icon></button>
    <button mat-button class="action-btn" [routerLink]="['/search']">Find an AO <mat-icon>location_on</mat-icon></button>
  </div>
</div>
