.container {
    padding: 16px 32px;

    h1 {
        margin-bottom: 12px;
        font-size: 32px;
      }
    
    .add-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }  
}  