<div class="container">
    <h1>Add Exercise</h1>
    <form class="add-form" [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Exercise name</mat-label>
          <input formControlName="name" autocorrect="off" autocomplete="off" matInput type="text" placeholder="Exercise name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" autocorrect="off" autocomplete="off" matInput type="text" placeholder="Exercise description" required></textarea>
        </mat-form-field>
    </form>
    <button mat-button id="add" class="solid-button" style="background-color: orange; color: #000;" (click)="addExercise()">Add</button>
    <button mat-button id="cancel" class="solid-button" style="background-color: #bebebe; margin-left: 6px; color: #000;" (click)="cancel()">Cancel</button>
</div>