.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: rgb(255, 128, 0); }

.container {
    padding: 16px 32px;
  
    .header {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 6px;
      margin-bottom: 8px;

      h2, h4 {
        font-weight: bold;
      }
    }

    section {
        margin-bottom: 22px;
        h3 {
            font-size: 14px;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: #000;
        }
        p {
            font-size: 18px;
            margin-bottom: 8px;
            padding: 0;
        }
    }

    #with-others, #favorite-aos {
        img {
            max-width: 800px;
            width: 100%;
        }
        h3 {
            margin: 14px 0;
        }

        .users, .aos {
            padding-left: 24px;

            h3 {
                margin: 0;
            }
        }
    }
}

.fill-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }