<ng-container *ngIf="userData$ | async as user">
    <div class="loading" *ngIf="!loading; else loadingSpinner">
        <div class="container" *ngIf="user" @profileAnimation>
            <div class="header">
                <h2>{{user.f3Name}}'s Stats</h2>
                <h4><b>2024 - Year in Review</b></h4>
            </div>
            <section id="my-stats">
                <h3>Total Posts</h3>
                <p>{{userStatistics?.totalPosts?.posts}}</p>
                <h3>Pre-activities</h3>
                <p>{{yearlyData?.preactivitiesCompleted}}</p>
                <h3>Favorite pre-activity</h3>
                <p>{{favoriteActivity}}</p>
            </section>
            <section id="with-others">
                <h3>Favorite days to post</h3>
                <img [src]="favoriteDayOfWeekLink" />
                <h3>Posted the most with</h3>
                <ul class="users">
                    <li class="user" *ngFor="let user of userStatistics?.mostPostedWith">
                        <p><b>{{user.f3Name}}</b> - {{user.posts}} posts</p>
                    </li>
                </ul>
            </section>
            <section id="favorite-aos">
                <h3>Favorite AOs</h3>
                <ul class="aos">
                    <li class="ao" *ngFor="let ao of userStatistics?.topSites">
                        <p><b>{{ao.aoName}}</b> - {{ao.posts}} posts</p>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</ng-container>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>