<div class="container" *ngIf="authUserData$ | async as authUser">
    <div class="loading" *ngIf="!loading; else loadingSpinner">
        <div class="header">
            <div class="text">
                <h1>F3 Challenges</h1>
                <p>Find new challenges to join and view challenge leaderboards</p>
            </div>
        </div>

        <div class="content">
            <div class="section">
                <h4>My Challenges</h4>
                <div class="user-challenges">
                    <div class="challenge" *ngFor="let challenge of activeUserChallenges" [routerLink]="['/challenges/', challenge.name]">
                      <h5>{{challenge.name}}</h5>
                      <ng-container *ngIf="isIterativeCompletionChallenge(challenge)">
                        <p *ngIf="challenge.state === 'pre-registered'">Pre-registered</p>
                        <p *ngIf="challenge.state === 'in-progress'">Progress: {{ challenge.activeCompletions }} / {{challenge.totalToComplete }}</p>
                      </ng-container>
                    </div>
                    <div class="no-challenges" *ngIf="activeUserChallenges.length === 0">
                        <p>No committed challenges.</p>
                    </div>
                </div>
            </div>
            <div class="section">
                <h4>Available Challenges</h4>
                <div class="available-challenges">
                    <div class="available-challenge" *ngFor="let challenge of activeChallenges" [routerLink]="['/challenges/', challenge.name]">
                        <div class="status" *ngIf="userIsCommittedToChallenge(challenge)">
                            <span id="committedBadge">Committed</span>
                        </div>
                        <div class="image">
                            <img [src]="challenge.imageSrc" />
                        </div>
                        <div class="details">
                            <h5>{{challenge.name}}</h5>
                            <p id="challengeDescription">{{challenge.description | truncate:150:true }}</p>
                            <p><b>Runs {{challenge.startDateString}} to {{challenge.endDateString}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner></mat-spinner>
    </div>
</ng-template>