.container {
    padding: 16px;

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .day-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 12px;
        width: 100%;
        padding: 24px;

        .date {
            flex-direction: row;
            width: 20%;
        }
        .beatdowns {
            display: flex;
            flex-direction: column;
            width: 80%;

            .beatdown-container {
                display: flex;
                flex-direction: column;
                padding: 4px 2px;

                .beatdown {
                    .same-line {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        justify-content: flex-start;
                        align-items: flex-end;
                    }
                }
            }

            .beatdown-container:not(:first-child) {
                margin: 8px 0;
            }
        }
    }

    .no-q-warning {
        display: flex;
        align-items: center;
        gap: 4px;

        mat-icon {
            font-size: 14px;
            color: orange;
        }
    }

    .canceled-beatdown {
        background-color: rgb(255, 130, 130) !important;
    }

    .q-data {
        p {
            margin: 0;
        }
    }
}

.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: rgb(255, 128, 0); }

.fill-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}