<!-- <div class="banner">
    <p><b>🎉 Try it out</b> We're currently migrating the weekly schedule to PaxNet. You may experience minor data inconsistencies, but we're working on it!</p>
</div> -->
<div class="container">
    <div class="header">
        <div class="title">
            <h1>Weekly Q Schedule</h1>
            <h4>{{weekRange}}</h4>
        </div>
        <div class="action">
            <button mat-stroked-button (click)="scrollToToday()" *ngIf="shouldShowScrollToday">Scroll to Today <mat-icon>arrow_downward</mat-icon></button>
            <button mat-flat-button (click)="viewPreviousWeek(currentWeekDate)"><mat-icon>arrow_left</mat-icon> Last week</button>
            <button mat-flat-button (click)="viewNextWeek(currentWeekDate)">Next week <mat-icon>arrow_right</mat-icon></button>
        </div>
    </div>

    <ng-container *ngIf="!loadingBeatdownData; else loadingSpinner">
            <div class="day-container" *ngFor="let day of weekList">
                <div class="date" [id]="day.dayName">
                    {{day.dayName}} ({{day.date | date: 'MM/dd' }})
                </div>
                <div class="beatdowns">
                    <div class="beatdown-container" [ngClass]="{'canceled-beatdown' : beatdown.isCanceled }" *ngFor="let beatdown of currentBeatdownList[day.dateString]; trackBy: trackByFn">
                        <div class="beatdown">
                            <div class="same-line">
                                <div class="ao-data">
                                    <!-- Can be an AO or Event -->
                                    <div class="event" *ngIf="beatdown.eventName">
                                        <h4>{{beatdown.eventName}}</h4>
                                    </div>
                                    <h5 *ngIf="beatdown.aoLocation" id="ao-name" [routerLink]="['/sites/', beatdown.aoLocation.id]"><span *ngIf="beatdown.eventName">@</span>{{beatdown.aoLocation.name}}</h5>
                                </div>
                                <mat-chip-listbox>
                                    <mat-chip *ngIf="beatdown.isFlagPass">
                                        <span matChipAvatar>🇺🇸</span><span>Flag Pass</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isPopup">
                                        <span matChipAvatar>⬆️</span><span>Popup</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isSiteLaunch">
                                        <span matChipAvatar>🚀</span> <span>Site Launch</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isVQ">
                                        <span matChipAvatar>🚨</span> <span>VQ</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isCommunityEvent">
                                        <span class="community-event" matChipAvatar>F3</span> <span>Community Event</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isAnniversary">
                                        <span matChipAvatar>🎉</span><span>Anniversary</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isKidFriendly">
                                        <span matChipAvatar>🧸</span><span>2.0 Friendly</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isBirthdayQ">
                                        <span matChipAvatar>🎂</span><span>Birthday Q</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isSiteQSwap">
                                        <span matChipAvatar>🔄</span><span>Site-Q Swap</span>
                                    </mat-chip>
                                </mat-chip-listbox>
                            </div>
                            <a *ngIf="beatdown.eventAddress" target="_blank" [href]="'https://www.google.com/maps/dir/?api=1&destination=' + beatdown.eventAddress">
                                <p id="address">{{beatdown.eventAddress}}</p>
                            </a>
                            <p *ngIf="beatdown.isCanceled" style="margin: 0">Canceled this week</p>
                            <div class="metadata">
                                <div class="no-q-warning" *ngIf="!beatdown.qUser && !beatdown.isCanceled">
                                    <mat-icon [inline]="true" matTooltip="No Q Assigned">warning</mat-icon> No Q
                                </div>
                                <div class="q-data" *ngIf="beatdown.qUser && !beatdown.isCanceled">
                                    <div class="q-user-chip" *ngIf="beatdown.qUser" [routerLink]="'/users/' + beatdown.qUser.id">
                                        <div class="current-profile-img" [style.background-image]="'url(' + beatdown.qUser.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !beatdown.qUser.profilePhotoUrl }"></div>
                                        <span>{{beatdown.qUser.f3Name}}</span>
                                    </div>
                                    <div class="q-user-chip" *ngIf="beatdown.coQUser" [routerLink]="'/users/' + beatdown.coQUser.id">
                                        <div class="current-profile-img" [style.background-image]="'url(' + beatdown.coQUser.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !beatdown.coQUser.profilePhotoUrl }"></div>
                                        <span>{{beatdown.coQUser.f3Name}}</span>
                                    </div>
                                    <ng-container *ngIf="beatdown.additionalQs && beatdown.additionalQs.length > 0">
                                        <ng-container *ngFor="let additionalQ of beatdown.additionalQs">
                                            <div class="q-user-chip" *ngIf="additionalQ" [routerLink]="'/users/' + additionalQ.id">
                                                <div class="current-profile-img" [style.background-image]="'url(' + additionalQ.profilePhotoUrl + ')'" [ngClass]="{ 'defaultBackground': !additionalQ.profilePhotoUrl }"></div>
                                                <span>{{additionalQ.f3Name}}</span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                                <p *ngIf="beatdown.aoLocation && beatdown.aoLocation.qSourceAvailable"><span class="q-source">Q Source Available</span></p>
                                <div class="site-data same-line">
                                    <p><i>{{beatdown.startTime}}</i></p>
                                    <p *ngIf="beatdown.aoLocation">- {{beatdown.aoLocation.category}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ng-container>
</div>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner [diameter]="40"></mat-spinner>
      <p style="margin-top: 6px">Getting week data...</p>
    </div>
</ng-template>  