<div class="container">
    <h1>Weekly Q Schedule</h1>
    <h4>{{weekRange}}</h4>
    <ng-container *ngIf="!loadingBeatdownData; else loadingSpinner">
            <div class="day-container" *ngFor="let day of weekList">
                <div class="date">
                    {{day.dayName}} ({{day.date | date: 'MM/dd' }})
                </div>
                <div class="beatdowns">
                    <div class="beatdown-container" [ngClass]="{'canceled-beatdown' : beatdown.isCanceled }" *ngFor="let beatdown of currentBeatdownList[day.dateString]; trackBy: trackByFn">
                        <div class="beatdown">
                            <div class="same-line">
                                <div class="ao-data">
                                    <!-- Can be an AO or Event -->
                                    <div class="event" *ngIf="beatdown.eventName">
                                        <h4>{{beatdown.eventName}}</h4>
                                        <h5 *ngIf="beatdown.eventAddress">{{beatdown.eventAddress}}</h5>
                                    </div>
                                    <h5 *ngIf="beatdown.aoLocation">{{beatdown.aoLocation.name}}</h5>
                                </div>
                                <mat-chip-listbox>
                                    <mat-chip *ngIf="beatdown.isFlagPass">
                                        <span matChipAvatar>🇺🇸</span><span>Flag Pass</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isPopup">
                                        <span matChipAvatar>⬆️</span><span>Popup</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isSiteLaunch">
                                        <span matChipAvatar>🚀</span> <span>Site Launch</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isVQ">
                                        <span style="font-weight: bold;">VQ</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isCommunityEvent">
                                        <span class="community-event" matChipAvatar>F3</span> <span>Community Event</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isAnniversary">
                                        <span matChipAvatar>🎉</span><span>Anniversary</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isKidFriendly">
                                        <span matChipAvatar>🧸</span><span>2.0 Friendly</span>
                                    </mat-chip>
                                    <mat-chip *ngIf="beatdown.isBirthdayQ">
                                        <span matChipAvatar>🎂</span><span>Birthday Q</span>
                                    </mat-chip>
                                </mat-chip-listbox>
                            </div>
                            <p *ngIf="beatdown.isCanceled" style="margin: 0">Canceled this week</p>
                            <div class="metadata">
                                <div class="no-q-warning" *ngIf="!beatdown.qUser && !beatdown.isCanceled">
                                    <mat-icon [inline]="true" matTooltip="No Q Assigned">warning</mat-icon> No Q
                                </div>
                                <div class="q-data" *ngIf="beatdown.qUser && !beatdown.isCanceled">
                                    <p *ngIf="beatdown.qUser">{{beatdown.qUser.f3Name}}{{beatdown.coQUser ? ' and ' + beatdown.coQUser.f3Name : ''}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ng-container>
</div>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner [diameter]="40"></mat-spinner>
      <p style="margin-top: 6px">Getting week data...</p>
    </div>
  </ng-template>  