.container {
    padding: 16px;

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .day-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 12px;
        width: 100%;
        padding: 24px;

        .date {
            flex-direction: row;
            width: 20%;
        }
        .beatdowns {
            display: flex;
            flex-direction: column;
            width: 80%;

            .beatdown-container {
                display: flex;
                flex-direction: column;
                padding: 4px 10px;
                border-radius: 8px;

                .beatdown {
                    .same-line {
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        justify-content: flex-start;
                        align-items: center;

                        .ao-data {
                            .event {
                                h4 {
                                    margin: 0;
                                    font-size: 19px;
                                    font-weight: bold;
                                }
                            }

                            a {
                                color: #000;

                                #ao-name {
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin: 0;
                                    margin-bottom: 2px;
                                }
                            }

                            #address {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .beatdown-container:first-child {
                padding-top: 0;
            }

            .beatdown-container:not(:first-child) {
                margin: 8px 0;
            }
        }
    }

    .no-q-warning {
        display: flex;
        align-items: center;
        gap: 4px;

        mat-icon {
            font-size: 14px;
            color: orange;
        }
    }

    .canceled-beatdown {
        background-color: rgb(255, 130, 130) !important;
    }

    .q-data {
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding: 4px 0;
        p {
            font-size: 14px;
            margin: 0;
        }
    }

    .site-data {
        p {
            font-size: 12px;
            margin: 0;
        }
        .q-source {
            font-weight: bold;
            color: rgb(165, 0, 0);
        }
    }
}

.q-user-chip {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: fit-content;
    padding: 3px 14px 3px 4px;
    border-radius: 24px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    box-shadow: 0px 2px 5px #bbb;
    margin: 4px 0;

    .current-profile-img {
      margin-right: 8px;
      max-width: 24px;
      max-height: 24px;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      display: block;
    }

    .defaultBackground {
        background: #aaa;
    }
  }

  .no-icon {
    padding-left: 14px;
  }
.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: rgb(255, 128, 0); }

.fill-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mat-mdc-chip.mat-mdc-standard-chip { --mdc-chip-container-height: 24px; }
.mat-mdc-standard-chip {
    border-radius: var(--mdc-chip-container-shape-radius);
    height: var(--mdc-chip-container-height);
    --mdc-chip-container-shape-family: rounded;
    --mdc-chip-with-avatar-avatar-shape-family: rounded;
    --mdc-chip-with-avatar-avatar-shape-radius: 14px 14px 14px 14px;
    --mdc-chip-with-avatar-avatar-size: 19px;
    --mdc-chip-with-icon-icon-size: 12px;
    --mdc-chip-label-text-size: 12px;
}