<div class="container">
    <h1>Record a Workout</h1>
    <p>Track your personal & F3 workouts</p>
    <div class="main-form">
        <!-- <form class="form" [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>Workout Date</mat-label>
                <input formControlName="workoutDate" autocomplete="off" required matInput [(ngModel)]="workout.date" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>-->
            <!-- Personal or F3 Workout -->
            <!-- If F3 Workout -->
            <!-- <mat-form-field appearance="fill">
                <mat-label>EH Location</mat-label>
                <input formControlName="ehLocation" [(ngModel)]="selectedEhLocation" autocorrect="off" [matAutocomplete]="autoLoc" matInput type="text" placeholder="EH Location">
                <mat-autocomplete #autoLoc="matAutocomplete" [displayWith]="displayLocationNameOptions">
                  <mat-option *ngFor="let option of filteredLocationOptions$ | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form> -->
    </div>
</div>